DATABASE_URL=postgresql://postgres:postgres@localhost:5432/my_entrance?schema=public
JWT_SECRET=change-me-in-prod
JWT_EXPIRES_IN=7d
APP_URL=http://localhost:3000
FRONTEND_URL=https://bims.su,http://localhost:5173
PORT=3000
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760
THROTTLE_TTL=60
THROTTLE_LIMIT=120
